
<div id="filterrific_results">

      <% articles.each do |art| %>

          <div class="product-one col-md-4 product-left " style="">
            <% if art.on_discount == true && art.end_date != nil %>
                <div class="timer_popust" >
                  <h5><div data-countdown="<%= art.end_date.strftime("%Y/%m/%d %H:%M") %>" style="color: white;"></div></h5>
                </div>
            <% end %>
            <div class="product-main simpleCart_shelfItem">

              <!--TODO: upisati naziv slike-->
              <%=link_to  trgovina_show_path(art.id)  do %> <% if !art.picture.nil? %> <%= image_tag(art.picture.image.url(:index), class: "img-responsive zoom-img") %><% else %> <%= image_tag('placeholder_index.png', class: "img-responsive zoom-img") %> <% end %> <% end %>
              <div class="product-bottom">
                <h3><%= art.title %></h3>
                <!--NOTE: kratki opis od jednog reda-->

                <% if art.short_description != nil  && art.short_description != "" %>
                  <h4><%= art.short_description  %></h4>
                <% else %>
                  <h4>-</h4>
                <% end %>

                <% if art.on_discount == true && art.discount != 0 %>
                  <h4><%= link_to carts_articles_create_path(art.id ), class: "item_add"  do %><i></i><% end %><span class=" item_price"><%= number_to_currency(art.cost-(art.cost*art.discount/100), :unit => 'Kn', :format => "%n %u") %></span></h4>
                <% else %>
                  <h4><%= link_to carts_articles_create_path(art.id ), class: "item_add"  do %><i></i><% end %><span class=" item_price"><%= number_to_currency(art.cost, :unit => 'Kn', :format => "%n %u") %></span></h4>
                <% end %>
              </div>
              <% if art.on_discount == true && art.discount != 0 %>
              <div class="srch">
                <span><%= art.discount %>%</span>
              </div>
              <% end %>
            </div>
          </div>
      <% end %>

      <div class="row">
        <div class="col-md-12">
          <%= paginate articles %>
        </div>
      </div>
    </div>

