
<div class="bnr" id="home">
  <div id="top" class="callbacks_container">
    <ul class="rslides" id="slider4">
      <li>
        <%=image_tag('15.png') %>
      </li>
      <li>
        <%=image_tag('14.jpg') %>
      </li>
      <li>
        <%=image_tag('13.jpg') %>
      </li>
    </ul>
  </div>
  <div class="clearfix"> </div>
</div>


<div class="container">
  <div class="row">
    <div id="custom-search-input" style="margin-top: 45px;">
      <div class="input-group col-md-12">

        <%= form_for_filterrific @filterrific do |f| %>
            <!--search-->

            <%= f.text_field(
                    :search_query,
                    class: 'form-control filterrific-periodically-observed', placeholder: "pretraga materijala..."
                ) %>
            <%= render_filterrific_spinner %>
        <% end %>

      </div>
    </div>
  </div>
</div>

<%= render(
        partial: 'trgovina/cat_pics',
        locals: { materials: @materials }
    ) %>









