



<!--bottom-header-->
<!--start-breadcrumbs-->
<div class="breadcrumbs">
  <div class="container">
    <div class="breadcrumbs-main">
      <ol class="breadcrumb">
        <li><a href="index.html">Početna</a></li>
        <li class="active">Trgovina</li>
      </ol>
    </div>
  </div>
</div>
<!--end-breadcrumbs-->
<!--prdt-starts-->
<div class="prdt">
  <div class="container">
    <div class="prdt-top">

        <%= form_for_filterrific @filterrific do |f| %>



          <div class="col-md-9 prdt-left">

            <%= render(
                    partial: 'trgovina/show_pics',
                    locals: { articles: @articles }
                ) %>
            <!-- artikli -->

            <!--kraj artikla -->


            <!--sidebar -->
            <div class="clearfix"></div>
          </div>
          <br/>

          <div class="row">

            <div class="col-xs-6 col-md-3">
              Pretraga
              <br/>
              <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
              <p><%= f.text_field(
                      :search_query,
                      class: 'form-control filterrific-periodically-observed'
                  ) %></p>
            </div>

            <div class="col-xs-6 col-md-3">
              Od
              <br/>
              <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
              <p><%= f.text_field(
                      :min_cost,
                      class: 'form-control filterrific-periodically-observed'
                  ) %>
              Do
              <%= f.text_field(
                      :max_cost,
                      class: 'form-control filterrific-periodically-observed'
                  ) %></p>
            </div>

            <div class="col-xs-6 col-md-3">
              Materijal
              <br/>
              <p><%= f.select(
                          :with_material_id,
                          @filterrific.select_options[:with_material_id],
                          { include_blank: '- Sve -' }, class: 'form-control'
                  ) %></p>
            </div>

            <div class="col-xs-6 col-md-3">
              Kategorija
              <br/>
              <p><%= f.select(
                          :with_category_id,
                          @filterrific.select_options[:with_category_id],
                          { include_blank: '- Sve-' }, class: 'form-control'
                  ) %></p>
            </div>

            <div class="col-xs-6 col-md-3">
              Sortiraj po
              <br/>
              <p><%= f.select(
                          :sorted_by,
                          @filterrific.select_options[:sorted_by],
                          { include_blank: false }, class: 'form-control'
                  )%></p>
            </div>
            <%= render_filterrific_spinner %>
            <div class="col-xs-6 col-md-3">
              <%= link_to(
                      'Reset filters',
                      reset_filterrific_url,
                  ) %>
            </div>




          </div>
          </div>
    <% end %>




      <div class="row">
        <div class="col-md-3 col-md-3">

        </div>
      </div>

      <div class="clearfix"></div>

  </div>
</div>
<!--kraj sidebara -->
<!--product-end-->





<script>
  $(function () {

    $("#range").ionRangeSlider({
      hide_min_max: true,
      keyboard: true,
      min: 0,
      max: 1000,
      /*TODO: max cijena na filteru proizvoda/cijena (vidi jel ćeš to vući iz baze ili ćemo stavit samo broj) https://github.com/IonDen/ion.rangeSlider */
      from: 0,
      to: 1000,
      /*NOTE: isti broj kao i max cijena na filteru proizvoda/cijena (to je default vrijednost na filteru) https://github.com/IonDen/ion.rangeSlider */
      type: 'double',
      step: 10,
      postfix: " kn",
      grid: true
    });

  });
</script>


