




<!--bottom-header-->
<!--start-breadcrumbs-->
<div class="breadcrumbs">
  <div class="container">
    <div class="breadcrumbs-main">
      <ol class="breadcrumb">
        <li><a href="index.html">Početna</a></li>
        <li class="active">Trgovina</li>
      </ol>
    </div>
  </div>
</div>
<!--end-breadcrumbs-->
<!--prdt-starts-->
<div class="prdt">
  <div class="container">
    <div class="prdt-top">
      <div class="col-md-9 prdt-left">

        <%= render(
                partial: 'trgovina/show_pics',
                locals: { articles: @articles }
            ) %>

      </div>
      <%= form_for_filterrific @filterrific do |f| %>






          <%# give the search field the 'filterrific-periodically-observed' class for live updates %>







    <div class="col-md-3 prdt-right">
        <div class="w_sidebar">
          <section class="sky-form">
            <h4>Materijal</h4>
            <div class="row1 scroll-pane" >

              <div class="col col-4">
                <% Material.all.each do |a| %>

                <label class="checkbox">
                  <%= f.check_box(:with_material_id, {multiple: true}, a.id, false ) %><i></i> <%= a.title %></label>
                <% end %>
              </div>
            </div>
          </section>
          <section class="sky-form">
            <h4>Kategorije</h4>
            <div class="row1 scroll-pane">

              <div class="col col-4">
                <% Category.all.each do |a| %>
                <label class="checkbox">
                  <%= f.check_box(:with_category_id, {multiple: true}, a.id, false ) %><i></i> <%= a.title %></label>
                <% end %>

              </div>
            </div>
          </section>


          <%# give the search field the 'filterrific-periodically-observed' class for live updates %>



          <section class="sky-form">
            <h4>CIJENA</h4>
            <div>
              <%= f.text_field(
                      :min_cost,
                      class: 'form-control filterrific-periodically-observed', id: 'range', multiple: true
                  ) %>

            </div>
          </section>



        </div>
      </div>
      <% end %>
      <div class="clearfix"></div>

    </div>
  </div>
</div><!--product-end-->
<!--kraj sidebara -->
<!--product-end-->







