<h1>ShoppingCarts#show
wooohoooo</h1>
<p>Find me in app/views/shopping_carts/show.html.erb</p>
Ukupna cijena izabranih proizvoda je:


<% if current_user != nil %>
<%= @shopping_cart.current_cost %>
</br>


<% @shopping_cart.carts_articles.each do |i| %>

    <% @shopping_cart.articles.each do |a| %>
          <% if i.article.id == a.id %>
        <%=  a.title  %><%=  a.cost  %> x<%=  i.amount %>  <%= link_to 'remove from cart', shopping_carts_destroy_path(a.id ) %>  </br>
            <% end %>
    <% end %>



<% end %>
    <% end %>

<% if current_user == nil %>
    <%= $items_cost %></br>
    <%  $no_user_articles.each do |k, v| %>
        <% @articles.each do |a| %>
            <% if a.id.to_s == k %>
                <%=  a.title  %><%=  a.cost  %> <%=  "#{v}"  %> <%= link_to '-', shopping_carts_destroy_path(a.id ) %> <%= link_to '+', shopping_carts_create_path(a.id ) %> </br>

            <% end %>
        <% end %>
<% end %>
<% end %>

<input id="quantity" name="quantity" type="number" value="1" />





<%= link_to 'kupi', past_purchases_create_path %>