

<!--bottom-header-->

<!--banner-starts-->
<div class="bnr" id="home">
  <div id="top" class="callbacks_container">
    <ul class="rslides" id="slider4">
      <% HomeBanner.where(active: true).each do |bann| %>
        <li>
          <%=image_tag(bann.image.url(:bann)) %>
        </li>
      <% end %>
    </ul>
  </div>
        <div class="clearfix"> </div>
</div>
<!--banner-ends-->

<!--about-starts-->

<div class="about">
  <div class="container">
    <div class="about-top grid-1">
      <div class="col-md-4 about-left">
        <%= link_to trgovina_index_path do %>
        <figure class="effect-bubba shadow">
          <%=image_tag("slika_kateg.jpg", class: "img-responsive" ) %>
          <!--TODO: upisati naziv kategorije-->
          <figcaption>
            <h2>Gotov Nakit</h2>
            <p>Srebrni, Čelični, Modni...</p>
          </figcaption>
        </figure>
        <% end %>
      </div>
      <div class="col-md-4 about-left">
        <%= link_to repromaterijal_index_path do %>
        <figure class="effect-bubba shadow">
          <%=image_tag("slika_kateg.jpg", class: "img-responsive" ) %>
          <!--TODO: upisati naziv kategorije-->
          <figcaption>
            <h2>Repromaterijal</h2>
            <p>Materijal za izradu nakita...</p>
          </figcaption>
        </figure>
        <% end %>
      </div>
      <div class="col-md-4 about-left">
        <%= link_to auctions_index_path do %>
        <figure class="effect-bubba shadow">
          <%=image_tag("slika_kateg.jpg", class: "img-responsive" ) %>
          <!--TODO: upisati naziv kategorije-->
          <figcaption>
            <h2>Aukcije</h2>
            <p>Nakit na aukciji...</p>
          </figcaption>
        </figure>
        <% end %>
      </div>

      <div class="clearfix"></div>
    </div>
  </div>
</div>

<!--about-end-->

<!--product-starts-->
<div class="product">
  <div class="container">
    <div class="product-top">




      <% i=0 %>
          <% @articles.each do |art| %>
          <%if i == 8 then %>
              <% break %>
          <% end %>
          <% i+=1 %>



            <div class="product-one col-md-3 product-left ">
              <% if art.on_discount == true && art.end_date != nil %>
                  <div class="timer_popust" >
                    <h5><div data-countdown="<%= art.end_date.strftime("%Y/%m/%d %H:%M") %>" style="color: white;"></div></h5>
                  </div>
              <% end %>
              <div class="product-main simpleCart_shelfItem">
                <!--TODO: upisati naziv slike-->
                <%=link_to  trgovina_show_path(art.id)  do %> <%= image_tag(art.picture.image.url(:index), class: "img-responsive zoom-img") %> <% end %>
                <!--<a href="#dialog" name="modal" class="mask"> </a>-->
                <div class="product-bottom">
                  <h3> <%= art.title %> </h3>
                  <!--NOTE: kratki opis od jednog reda-->

                  <% if art.short_description != nil && art.short_description !="" %>
                      <h4><%= art.short_description  %></h4>
                  <% else %>
                      <h4>-</h4>
                  <% end %>

                  <% if art.on_discount == true && art.discount != 0 %>
                      <h4><%= link_to carts_articles_create_path(art.id ), class: "item_add"  do %><i></i><% end %><span class=" item_price"><%= number_to_currency(art.cost-(art.cost*art.discount/100), :unit => 'Kn', :format => "%n %u") %></span></h4>
                  <% else %>
                      <h4><%= link_to carts_articles_create_path(art.id ), class: "item_add"  do %><i></i><% end %><span class=" item_price"><%= number_to_currency(art.cost, :unit => 'Kn', :format => "%n %u") %></span></h4>
                  <% end %></div>
                <% if art.on_discount == true && art.discount != 0 %>
                    <div class="srch">
                      <span><%= art.discount %>%</span>
                    </div>
                <% end %>
              </div>
            </div>

        <% end %>

    </div>
  </div>
</div>

<!--product-end-->









<!--Registration Form dialog-->



<!--Registration Form dialog end -->


<script>

  $('[data-countdown]').each(function() {
    var $this = $(this), finalDate = $(this).data('countdown');
    $this.countdown(finalDate, function(event) {
      $this.html(event.strftime('%D dana %H:%M:%S'));
    });
  })
</script>








