<div id="filterrific_results">



  <% articles.each do |art| %>

      <div class="product-one col-md-4 product-left ">
        <div class="product-main simpleCart_shelfItem">
          <!--TODO: upisati naziv slike-->

          <% if art.picture != nil %>
                <%=link_to  repromaterijal_show_path(art.id)  do %> <%= image_tag(art.picture.image.url(:index), class: "img-responsive zoom-img" ) %> <% end %>
          <% else %>
                <%=link_to  repromaterijal_show_path(art.id)  do %> <%= image_tag("placeholder_index.png", class: "img-responsive zoom-img" ) %> <% end %>
          <% end %>
          <div class="product-bottom">
            <h3><%= art.title %></h3>
            <!--NOTE: kratki opis od jednog reda-->
            <% if art.on_discount == true && art.end_date != nil %>
                <h4><div data-countdown="<%= art.end_date.strftime("%Y/%m/%d %H:%M") %>"></div></h4>
            <% else %>
                <h4> - </h4>
            <% end %>

            <h4><%= link_to carts_articles_create_path(art.id ), class: "item_add"  do %><i></i><% end %><span class=" item_price"><%= number_to_currency(art.cost, :unit => 'Kn', :format => "%n %u") %></span></h4>

          </div>
          <% if art.on_discount == true && art.discount != 0 %>
              <div class="srch">
                <span><%= art.discount %>%</span>
              </div>
          <% end %>
        </div>
      </div>
  <% end %>






</div>

<%= paginate articles %>