<!--start-breadcrumbs-->
<div class="breadcrumbs">
  <div class="container">
    <div class="breadcrumbs-main">
      <ol class="breadcrumb">
        <li><a href="index.html">Početna</a></li>
        <!--TODO: staviti naziv artikla koji je na stranici-->
        <li class="active"><%= @article.title %></li>
      </ol>
    </div>
  </div>
</div>
<!--end-breadcrumbs-->

<!--start-single-->

<div class="single contact">
  <div class="container">
    <div class="single-main">
      <div class="col-md-12 single-main-left">
        <div class="sngl-top">
          <div class="col-md-4 single-top-left">

            <div class="dialog-srch srch">20%</div>
            <!--TODO: postotak na modal dialogu-->
            <div id="modal-photo" class="owl-carousel">


              <% if !@article.pictures.first.nil? %>
                  <% @article.pictures.each do |pic| %>

                      <div class="item"><%=image_tag( pic.image.url(:picture) , class: "Product_photo" ) %></div>

                  <% end %>
              <% else %>

                  <div class="item"><%=image_tag( 'default-placeholder-2.png' , class: "Product_photo" ) %></div>

              <% end %>



            </div>


          </div>
          <div class="col-md-7 details">

            <div class="product-bottom">
              <div class="productboxkat"><%= @article.subcategory.title %></div>
              <div class="row naslov-site">
                <div class="productbox"><%= @article.title %></div>
                <div class="productboxprice"><span class=" item_price"><%= number_to_currency(@article.cost, :unit => 'Kn', :format => "%n %u") %></span></div>
              </div>
              <div class="productboxopis-site">
                <p><%= @article.description %></p>
              </div>

              <%= simple_form_for @article, url: single_carts_articles_path, :method => :put, html: {class: ""} do |f| %>

                  <%= f.input :id, :as => :hidden %>

                  <div class="row" style="margin-bottom:20px;">

                    <% if @article.single_articles.first != nil %>
                        <% if @article.single_articles.first.size != "" && @article.single_articles.first.size != nil %>

                            <div class="col-md-6">
                              <div class="productboxcolor">Veličina* </div>

                              <%= f.input :size, label: false, collection: SingleArticle.where(article_id: f.object.id).pluck(:size), class: "ddboje",:include_blank => false  %>

                            </div>
                        <% end %>

                        <% if @article.single_articles.first.color != nil %>

                            <div class="col-md-6">
                              <div class="productboxcolor">Boja* </div>

                              <%= f.input :color, label: false , collection: Color.where(id: SingleArticle.where(article_id: f.object.id).pluck(:color_id)),:include_blank => false %>

                            </div>
                        <% end %>

                        <div class="col-md-6"></div>


                        </div>


                    <% end %>

                    <div class="row" style="margin-bottom:30px;">
                      <div class="col-md-6 productboxcart" style="margin-top:20px;">
                        <div class="hcart">
                          <h4><span><%= link_to "", class: "item_add" do %> <i></i> <%= f.button :submit,"Dodaj u košaricu" %> <% end %></span></h4></div>
                      </div>

                      <div class="col-md-6 productboxcart">
                        <div class="productboxcolor">Količina*</div>

                        <%= f.input :amount, label: false ,input_html: { value: 1} %>

                      </div>
                    </div>
                    </div>


                    </div>
                    <div class="clearfix"> </div>
                    </div>
                    </div>
                    <div class="clearfix"> </div>
                    </div>
                    </div>
                    </div>
              <% end %>
              <!--end-single-->